*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: 0;
    text-decoration: 0;
    outline: 0;
    /*reset| sirve para resetear los elementos de ccs por defecto*/
}

p{
    color: white;
    font-size: 24px;
    margin: 10px;
    /* 
        color- Sirve para darle color a la fuente
        fontsize- Sirve para darle tamaño a la fuente
        margin- el margen del borde con la fuente
    */
    /* unidades de medida| px em rem %*/
}

h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

header{
    background-color: #66785F;
}

body{
    background-color: #4B5945;
}

footer{
    background-color: #66785F;
}

a{
    color: white;
    font-size: 24px;
}

section{
    margin-block: .9375rem;
    margin-inline: .9375rem;
    padding: 10px;
}

section p{
    margin: 10px;
}

section h2{
    margin: 20px;
    color: white;
    font-size: 2.25rem;
    text-align: center;
}

section h3{
    margin: 20px;
    color: white;
    font-size: 1.875rem;
}

ul li{
    display: inline-block;
    margin-right: 10px;
    list-style-type: none;
    background-color: #4B5945;
    border-radius: 100px;
    margin-block: 10px;
    padding: 10px;
}

.acerca-de-can{
    background-color: #66785F;
    border-radius: 20px;
    padding: 20px;
}

.su-musica{
    background-color: #66785F;
    border-radius: 20px;
}

.iframe-1{
    width: 600;
    height: 250;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.iframe-2{
    width: 600;
    height: 250;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.iframe-3{
    width: 600;
    height: 250;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

div{
    background-color: #66785F;
    border-radius: 20px;
}

.comentarios{
    color: white ;
}

.redes{
    background-color:#66785F;
    padding: 0%;
    border-radius: 0%;
}

.subfooter{
    color:#4B5945;
    font-size: 36px;
}

.temasiframe{
    display: flex;
    flex-direction: column;
}

.musica1{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.caja-contenedora{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.caja{
    display: grid;
    background-color: #66785F;
    padding: 20px;
    margin: 10px;
}

@media(max-width:1024px){
    .caja-contenedora{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.caja{
    display: grid;
    background-color: #66785F;
    padding: 20px;
    margin: 10px;
}
}

@media(max-width:768px){

    .caja-contenedora{
    display: grid;
    grid-template-columns: 50% 50%;
}

.caja{
    display: grid;
    background-color: #66785F;
    padding: 20px;
    margin: 10px;
}}

@media(max-width:425px){
        h1{
        font-size: 38px;
    }

    ul li{
        font-size: 20px;
        margin: 0px;
        padding: 5px;
    }

    a{
        font-size: 15px;
    }

.caja-contenedora{
    display: grid;
    grid-template-columns: 100%;
}

.caja{
    display: grid;
    background-color: #66785F;
    padding: 20px;
    margin: 10px;
}}

@media(max-width:375px){
    h1{
        font-size: 35px;
    }

    ul li{
        font-size: 20px;
        margin: 2px;
        padding: 5px;
    }

    a{
        font-size: 13px;
    }

.caja-contenedora{
    display: grid;
    grid-template-columns: 100%;
}

.caja{
    display: grid;
    background-color: #66785F;
    padding: 20px;
    margin: 10px;
}}

@media(max-width:320px){
    h1{
        font-size: 30px;
    }

    ul li{
        font-size: 20px;
        margin: 1px;
        padding: 5px;
    }

    a{
        font-size: 11px;
    }

    section{
        margin: 0;
    }

    .caja-contenedora{
    display: grid;
    grid-template-columns: 100%;
}

.caja{
    display: grid;
    background-color: #66785F;
    padding: 15px;
    margin: 10px;
}}