header{
    background-color: black;
    .navbar{
        display: flex;
        flex-direction: row;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            li{
                border-radius: 20px;
                font-size: 15px;
                margin: 20px;
                a{
                    color: white;
                }
            }
        }
    }
} 

@media(max-width:768px){
    header{
    background-color: black;
    width: 100%;
    height: auto;
    .navbar{
        display: flex;
        flex-direction: row;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            li{
                border-radius: 20px;
                font-size: 15px;
                margin: 20px;
                a{
                    color: white;
                }
            }
        }
    }
} 
}

@media (max-width: 425px){
        header{
    background-color: black;
    width: 100%;
    height: auto;
    .navbar{
        display: flex;
        flex-direction: row;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            li{
                border-radius: 20px;
                font-size: 15px;
                margin: 20px;
                a{
                    color: white;
                }
            }
        }
    }
} 
}