
$color: (
    blanco: #F2F2F2,
    crema: #EAE4D5,
    beige: #B6B09F,
    negro: #000000,
);

$coloresanteriores: (
    verde1: #4B5945,
    verde2: #66785F,
    verde3: #91AC8F,
    verde4: #B2C9AD,
);