header{
    .navbar{
        ul{
            display: inline-block;
            background-color: #0000;
            li{
                color: white;
                font-size: 15px;
                margin: 7px;
            }
        }
    }
} 